<h3>Login to your account</h3>

<%= render 'shared/errors' %>
<%= render 'shared/user_form', user: @user, login: true %>

<br>
<div> Don't have an account? <%= link_to 'Sign up', new_user_path  %> </div>