<h3>Congratulations, <%= @user.username %> — you've taken the first step to renting a cat!</h3>

<p>You're going to rent so many cats!</p>
<p>Like... so many.</p>
<br>
<p>Just login <%= link_to 'here', @url %></p>