<h3>Rental Request</h3>

<h5>Cat: <%= @cat.name %></h5>

<ul>
  <li>Start Date: <%= @cat_rental_request.start_date %></li>
  <li>End Date: <%= @cat_rental_request.end_date %></li>
  <li>Status: <%= @cat_rental_request.status %></li>
</ul>