<h2>All the cats</h2>

<ul>
  <%= render @cats %>
</ul>

<%#= link_to 'Add a new cat', new_cat_url %>

<form method='GET'>
  <button type='submit'
    formaction='<%= new_cat_rental_request_url %>'>Rent a Cat</button>
  <button type='submit'
    formaction='<%= new_cat_url %>'>Add a Cat</button>
</form>